In [47]:
import pandas as pd
import csv
import json
import numpy as np
from census import Census
import requests
from us import states

In [48]:
file_path = 'final_accident_df.csv'
accident_df = pd.read_csv(file_path)
accident_df

,Date,Time,Start_Time,Start_Lat,Start_Lng,City,State,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
0,2019-12-26,17:09:52,2019-12-26 17:09:52,40.884850,-95.800362,Thurman,IA,2019-12-26 17:15:00,31.0,31.0,10.0,CALM,0.0,0.0,Fair
1,2019-12-26,17:10:32,2019-12-26 17:10:32,40.889641,-95.798630,Thurman,IA,2019-12-26 17:15:00,31.0,31.0,10.0,CALM,0.0,0.0,Fair
2,2019-12-31,23:49:36,2019-12-31 23:49:36,42.313499,-83.091225,Detroit,MI,2019-12-31 23:53:00,28.0,17.0,7.0,WSW,13.0,0.0,Cloudy
3,2019-12-31,23:50:02,2019-12-31 23:50:02,42.398125,-83.109009,Detroit,MI,2019-12-31 23:53:00,28.0,17.0,7.0,WSW,13.0,0.0,Cloudy
4,2019-12-31,23:29:03,2019-12-31 23:29:03,39.754967,-75.276283,Swedesboro,NJ,2019-12-31 23:54:00,43.0,36.0,10.0,WNW,14.0,0.0,Mostly Cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953728,2019-08-23,18:03:25,2019-08-23 18:03:25,34.002480,-117.379360,Riverside,CA,2019-08-23 17:53:00,86.0,86.0,10.0,W,13.0,0.0,Fair
953729,2019-08-23,19:11:30,2019-08-23 19:11:30,32.766960,-117.148060,San Diego,CA,2019-08-23 18:53:00,70.0,70.0,10.0,SW,6.0,0.0,Fair
953730,2019-08-23,19:00:21,2019-08-23 19:00:21,33.775450,-117.847790,Orange,CA,2019-08-23 18:53:00,73.0,73.0,10.0,SSW,10.0,0.0,Partly Cloudy
953731,2019-08-23,19:00:21,2019-08-23 19:00:21,33.992460,-118.403020,Culver City,CA,2019-08-23 18:51:00,71.0,71.0,10.0,SW,8.0,0.0,Fair
953732,2019-08-23,18:52:06,2019-08-23 18:52:06,34.133930,-117.230920,Highland,CA,2019-08-23 20:50:00,79.0,79.0,7.0,SW,7.0,0.0,Fair

In [49]:
spring_dates_df = accident_df[(accident_df['Date'] >= '2019-03-01') & (accident_df['Date'] <= '2019-05-31')]
spring_dates_df

,Date,Time,Start_Time,Start_Lat,Start_Lng,City,State,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
350324,2019-05-29,12:19:25,2019-05-29 12:19:25,34.696480,-85.569298,Valley Head,AL,2019-05-29 12:15:00,89.0,89.0,10.0,WSW,15.0,0.0,Fair
350404,2019-05-26,12:12:05,2019-05-26 12:12:05,40.690338,-95.782410,Percival,IA,2019-05-26 12:15:00,73.0,73.0,10.0,SSE,3.0,0.0,Mostly Cloudy
350405,2019-05-09,02:52:36,2019-05-09 02:52:36,40.757980,-95.819359,Percival,IA,2019-05-09 02:55:00,40.0,31.0,10.0,NNW,17.0,0.0,Cloudy
350406,2019-05-09,02:44:47,2019-05-09 02:44:47,40.822060,-95.807648,Thurman,IA,2019-05-09 02:35:00,40.0,31.0,10.0,NW,17.0,0.0,Cloudy
350407,2019-05-09,02:41:42,2019-05-09 02:41:42,40.825241,-95.806221,Thurman,IA,2019-05-09 02:35:00,40.0,31.0,10.0,NW,17.0,0.0,Cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
922021,2019-05-31,22:32:01,2019-05-31 22:32:01,43.318168,-124.206622,Coos Bay,OR,2019-05-31 22:56:00,54.0,54.0,10.0,NNE,13.0,0.0,Cloudy
922022,2019-05-31,22:47:23,2019-05-31 22:47:23,42.427544,-122.953457,Central Point,OR,2019-05-31 22:53:00,72.0,72.0,10.0,SW,3.0,0.0,Partly Cloudy
922023,2019-05-31,23:39:23,2019-05-31 23:39:23,45.001611,-122.998740,Salem,OR,2019-05-31 23:56:00,61.0,61.0,10.0,CALM,0.0,0.0,Fair
922025,2019-05-31,23:51:43,2019-05-31 23:51:43,43.932331,-123.010219,Creswell,OR,2019-05-31 23:54:00,61.0,61.0,10.0,CALM,0.0,0.0,Fair
924065,2019-05-06,09:00:00,2019-05-06 09:00:00,36.051276,-119.311945,Tipton,CA,2019-05-06 08:56:00,61.0,61.0,10.0,SW,7.0,0.0,Partly Cloudy

In [50]:
summer_dates_df = accident_df[(accident_df['Date'] >= '2019-06-01') & (accident_df['Date'] <= '2019-08-31')]
summer_dates_df

,Date,Time,Start_Time,Start_Lat,Start_Lng,City,State,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
57817,2019-08-21,04:32:56,2019-08-21 04:32:56,40.600681,-95.675400,Hamburg,IA,2019-08-21 04:35:00,72.0,72.0,7.0,W,12.0,0.17,Light Rain with Thunder
57818,2019-08-21,04:32:56,2019-08-21 04:32:56,40.600689,-95.680099,Hamburg,IA,2019-08-21 04:35:00,72.0,72.0,7.0,W,12.0,0.17,Light Rain with Thunder
57819,2019-07-14,13:19:10,2019-07-14 13:19:10,40.821640,-95.807564,Thurman,IA,2019-07-14 13:15:00,89.0,89.0,10.0,SSE,10.0,0.00,Fair
57820,2019-07-14,13:19:10,2019-07-14 13:19:10,40.825241,-95.806221,Thurman,IA,2019-07-14 13:15:00,89.0,89.0,10.0,SSE,10.0,0.00,Fair
207689,2019-08-31,12:39:20,2019-08-31 12:39:20,42.891327,-78.888199,Buffalo,NY,2019-08-31 12:54:00,68.0,68.0,10.0,NW,6.0,0.00,Mostly Cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953728,2019-08-23,18:03:25,2019-08-23 18:03:25,34.002480,-117.379360,Riverside,CA,2019-08-23 17:53:00,86.0,86.0,10.0,W,13.0,0.00,Fair
953729,2019-08-23,19:11:30,2019-08-23 19:11:30,32.766960,-117.148060,San Diego,CA,2019-08-23 18:53:00,70.0,70.0,10.0,SW,6.0,0.00,Fair
953730,2019-08-23,19:00:21,2019-08-23 19:00:21,33.775450,-117.847790,Orange,CA,2019-08-23 18:53:00,73.0,73.0,10.0,SSW,10.0,0.00,Partly Cloudy
953731,2019-08-23,19:00:21,2019-08-23 19:00:21,33.992460,-118.403020,Culver City,CA,2019-08-23 18:51:00,71.0,71.0,10.0,SW,8.0,0.00,Fair
953732,2019-08-23,18:52:06,2019-08-23 18:52:06,34.133930,-117.230920,Highland,CA,2019-08-23 20:50:00,79.0,79.0,7.0,SW,7.0,0.00,Fair

In [51]:
fall_dates_df = accident_df[(accident_df['Date'] >= '2019-09-01') & (accident_df['Date'] <= '2019-11-31')]
fall_dates_df

,Date,Time,Start_Time,Start_Lat,Start_Lng,City,State,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
8006,2019-11-30,23:25:52,2019-11-30 23:25:52,40.391392,-74.183060,Holmdel,NJ,2019-11-30 22:56:00,30.0,30.0,10.0,NW,3.0,0.0,Fair
8008,2019-11-30,22:26:01,2019-11-30 22:26:01,40.731777,-73.872086,Elmhurst,NY,2019-11-30 22:51:00,36.0,30.0,10.0,NNE,8.0,0.0,Mostly Cloudy
8531,2019-11-30,22:45:22,2019-11-30 22:45:22,39.786331,-105.077538,Arvada,CO,2019-11-30 22:48:00,25.0,19.0,10.0,E,5.0,0.0,Fair
8532,2019-11-30,22:40:00,2019-11-30 22:40:00,39.787380,-105.079399,Arvada,CO,2019-11-30 22:48:00,25.0,19.0,10.0,E,5.0,0.0,Fair
8566,2019-11-30,22:13:25,2019-11-30 22:13:25,47.216614,-122.462830,Tacoma,WA,2019-11-30 21:58:00,28.0,28.0,10.0,CALM,0.0,0.0,Mostly Cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828379,2019-09-16,21:21:00,2019-09-16 21:21:00,34.321412,-118.496747,Sylmar,CA,2019-09-16 19:50:00,73.0,73.0,10.0,E,8.0,NaN,Fair
828380,2019-09-16,21:39:00,2019-09-16 21:39:00,33.876453,-118.102364,Cerritos,CA,2019-09-16 21:53:00,70.0,70.0,10.0,ESE,3.0,0.0,Fair
828381,2019-09-16,21:40:00,2019-09-16 21:40:00,34.290977,-117.451896,San Bernardino,CA,2019-09-16 21:41:00,74.0,74.0,10.0,WSW,5.0,0.0,Partly Cloudy
828382,2019-09-16,21:40:00,2019-09-16 21:40:00,35.922932,-119.282048,Earlimart,CA,2019-09-16 21:56:00,NaN,NaN,NaN,NaN,NaN,0.0,NaN
828383,2019-09-16,21:43:30,2019-09-16 21:43:30,34.290898,-117.451895,San Bernardino,CA,2019-09-16 21:41:00,74.0,74.0,10.0,WSW,5.0,0.0,Partly Cloudy

In [52]:
winter_dates_1 = accident_df[(accident_df['Date'] >= '2019-12-01') & (accident_df['Date'] <= '2019-12-31')]
winter_dates_2 = accident_df[(accident_df['Date'] >= '2019-01-01') & (accident_df['Date'] <= '2019-02-28')]
winter = winter_dates_1.append(winter_dates_2)
winter.sort_values(by='Date', ascending=True)
winter

,Date,Time,Start_Time,Start_Lat,Start_Lng,City,State,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
0,2019-12-26,17:09:52,2019-12-26 17:09:52,40.884850,-95.800362,Thurman,IA,2019-12-26 17:15:00,31.0,31.0,10.0,CALM,0.0,0.00,Fair
1,2019-12-26,17:10:32,2019-12-26 17:10:32,40.889641,-95.798630,Thurman,IA,2019-12-26 17:15:00,31.0,31.0,10.0,CALM,0.0,0.00,Fair
2,2019-12-31,23:49:36,2019-12-31 23:49:36,42.313499,-83.091225,Detroit,MI,2019-12-31 23:53:00,28.0,17.0,7.0,WSW,13.0,0.00,Cloudy
3,2019-12-31,23:50:02,2019-12-31 23:50:02,42.398125,-83.109009,Detroit,MI,2019-12-31 23:53:00,28.0,17.0,7.0,WSW,13.0,0.00,Cloudy
4,2019-12-31,23:29:03,2019-12-31 23:29:03,39.754967,-75.276283,Swedesboro,NJ,2019-12-31 23:54:00,43.0,36.0,10.0,WNW,14.0,0.00,Mostly Cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879703,2019-01-10,01:19:27,2019-01-10 01:19:27,44.723114,-121.185545,Madras,OR,2019-01-10 00:56:00,39.9,33.9,10.0,South,9.2,NaN,Clear
892607,2019-02-11,10:54:15,2019-02-11 10:54:15,42.215065,-124.374015,Brookings,OR,2019-02-11 10:56:00,44.1,36.8,10.0,SSE,16.1,0.01,Overcast
892641,2019-02-11,13:54:55,2019-02-11 13:54:55,42.215065,-124.374015,Brookings,OR,2019-02-11 13:56:00,45.0,38.2,10.0,SSE,15.0,0.03,Light Rain
895393,2019-01-10,07:09:45,2019-01-10 07:09:45,42.834187,-117.642520,Jordan Valley,OR,2019-01-10 07:15:00,35.6,32.8,9.0,SE,3.5,NaN,Overcast
909608,2019-02-15,08:47:40,2019-02-15 08:47:40,45.082847,-119.652132,Heppner,OR,2019-02-15 08:53:00,30.9,NaN,7.0,Calm,NaN,NaN,Overcast

In [53]:
winter = winter[(winter['Temperature(F)'] >= 3) & (winter['Temperature(F)'] <= 67)]
winter.drop_duplicates(subset='State', inplace=True)
winter.head(10)

,Date,Time,Start_Time,Start_Lat,Start_Lng,City,State,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
0,2019-12-26,17:09:52,2019-12-26 17:09:52,40.884850,-95.800362,Thurman,IA,2019-12-26 17:15:00,31.0,31.0,10.0,CALM,0.0,0.0,Fair
2,2019-12-31,23:49:36,2019-12-31 23:49:36,42.313499,-83.091225,Detroit,MI,2019-12-31 23:53:00,28.0,17.0,7.0,WSW,13.0,0.0,Cloudy
4,2019-12-31,23:29:03,2019-12-31 23:29:03,39.754967,-75.276283,Swedesboro,NJ,2019-12-31 23:54:00,43.0,36.0,10.0,WNW,14.0,0.0,Mostly Cloudy
5,2019-12-31,21:38:17,2019-12-31 21:38:17,47.485027,-122.195717,Renton,WA,2019-12-31 21:53:00,53.0,53.0,10.0,S,13.0,0.0,Cloudy
7,2019-12-31,23:09:37,2019-12-31 23:09:37,46.096649,-123.916359,Seaside,OR,2019-12-31 23:08:00,52.0,52.0,1.0,W,13.0,0.0,Light Rain
8,2019-12-31,21:46:41,2019-12-31 21:46:41,38.608723,-121.270630,Rancho Cordova,CA,2019-12-31 21:45:00,43.0,39.0,10.0,E,6.0,NaN,Cloudy
18,2019-12-25,09:49:34,2019-12-25 09:49:34,41.848064,-71.062386,Berkley,MA,2019-12-25 09:52:00,36.0,36.0,10.0,WNW,3.0,0.0,Fair
29,2019-12-25,00:20:27,2019-12-25 00:20:27,43.093609,-73.528770,Greenwich,NY,2019-12-25 00:53:00,17.0,17.0,10.0,CALM,0.0,0.0,Fair
50,2019-12-25,01:05:41,2019-12-25 01:05:41,40.022789,-75.036133,Philadelphia,PA,2019-12-25 00:54:00,33.0,29.0,10.0,NNE,5.0,0.0,Fair
70,2019-12-25,15:12:17,2019-12-25 15:12:17,41.392490,-73.477669,Danbury,CT,2019-12-25 14:53:00,43.0,40.0,10.0,SSW,5.0,0.0,Fair

In [54]:
winter_dates = winter['State'].unique()

In [80]:
spring_dates_df = spring_dates_df[(spring_dates_df['Temperature(F)'] >= 24) & (spring_dates_df['Temperature(F)'] <= 70)]
spring_dates_df.drop_duplicates(subset='State', inplace=True)
spring_dates_df.head(10)
spring_dates = spring_dates_df['State'].unique()
spring_dates = list(spring_dates)

In [71]:
summer_dates_df = summer_dates_df[(summer_dates_df['Temperature(F)'] >= 52) & (summer_dates_df['Temperature(F)'] <= 81)]
summer_dates_df.drop_duplicates(subset='State', inplace=True)
summer_dates_df.head(10)
summer_date = summer_dates_df['State'].unique()

In [72]:
fall_dates_df = fall_dates_df[(fall_dates_df['Temperature(F)'] >= 27) & (fall_dates_df['Temperature(F)'] <= 73)]
fall_dates_df.drop_duplicates(subset='State', inplace=True)
fall_dates_df.head(10)
fall_dates = fall_dates_df['State'].unique()

In [73]:
fall_dates = list(fall_dates)
spring_dates = list()
winter_dates = list(winter_dates)
summer_dates = list(summer_date)

In [82]:
date_dict = {
    'Fall': fall_dates,
    'Spring': spring_dates,
    'Summer': summer_dates,
    'Winter': winter_dates
}
date_dict

{'Fall': ['NJ',
  'NY',
  'WA',
  'CA',
  'PA',
  'NH',
  'MI',
  'CT',
  'RI',
  'VA',
  'MD',
  'KY',
  'IN',
  'OH',
  'TN',
  'NC',
  'GA',
  'SC',
  'FL',
  'MO',
  'MN',
  'NE',
  'IA',
  'KS',
  'WI',
  'IL',
  'TX',
  'OK',
  'AL',
  'UT',
  'CO',
  'AZ',
  'NM',
  'OR',
  'NV',
  'MA',
  'VT',
  'DE',
  'DC',
  'LA',
  'MS',
  'AR',
  'WV',
  'ID',
  'WY',
  'ND',
  'ME',
  'MT'],
 'Spring': ['IA',
  'NY',
  'MA',
  'NH',
  'RI',
  'MI',
  'CT',
  'PA',
  'NJ',
  'DE',
  'WV',
  'OH',
  'MD',
  'VA',
  'DC',
  'IN',
  'KY',
  'TN',
  'SC',
  'NC',
  'GA',
  'MO',
  'WI',
  'MN',
  'IL',
  'NE',
  'TX',
  'OK',
  'AL',
  'UT',
  'CO',
  'NV',
  'AZ',
  'NM',
  'ID',
  'OR',
  'WA',
  'CA',
  'FL',
  'KS',
  'LA',
  'AR',
  'SD',
  'MS',
  'VT',
  'WY',
  'ME',
  'MT',
  'ND'],
 'Summer': ['IA',
  'NY',
  'MA',
  'RI',
  'MI',
  'PA',
  'CT',
  'NJ',
  'OH',
  'MD',
  'VA',
  'IN',
  'KY',
  'NC',
  'FL',
  'SC',
  'GA',
  'MO',
  'MN',
  'WI',
  'NE',
  'IL',
  'LA',
  'TX',
  'OK',
  'AL',
  'TN',
  'UT',
  'CO',
  'NV',
  'AZ',
  'OR',
  'WA',
  'CA',
  'KS',
  'AR',
  'NH',
  'DE',
  'MS',
  'NM',
  'DC',
  'VT',
  'ID',
  'ME',
  'WV',
  'ND',
  'MT',
  'SD',
  'WY'],
 'Winter': ['IA',
  'MI',
  'NJ',
  'WA',
  'OR',
  'CA',
  'MA',
  'NY',
  'PA',
  'CT',
  'DE',
  'RI',
  'VA',
  'MD',
  'DC',
  'IN',
  'KY',
  'OH',
  'NC',
  'SC',
  'FL',
  'GA',
  'MO',
  'MN',
  'IL',
  'NE',
  'TX',
  'OK',
  'LA',
  'AL',
  'TN',
  'UT',
  'CO',
  'AZ',
  'NV',
  'NH',
  'KS',
  'WI',
  'MS',
  'NM',
  'ME',
  'WV',
  'AR',
  'WY',
  'VT',
  'ID',
  'MT',
  'SD',
  'ND']}